<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"></meta>
  <title>Page - {{pageId}}</title>
</head>
<body>

  <p>
    This is a generated page at the url <code>/pages/{{pageId}}</code>
  </p>

</body>
</html>
